@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/Poppins-Regular.ttf) format('truetype');
}

@layer utilities {
  .text-outline {
    text-shadow:
      -0.125rem -0.125rem 0 #5C0E5D,
      0.125rem -0.125rem 0 #5C0E5D,
      -0.125rem 0.125rem 0 #5C0E5D,
      0.125rem 0.125rem 0 #5C0E5D;
  }
}

body {
  background-color: #141414;
  font-family: 'Poppins', sans-serif;
}

.login-container {
  @apply flex justify-center items-center h-screen bg-black;
}

.login-card {
  @apply bg-gray-100 p-8 pb-15 rounded-xl shadow-lg w-full max-w-md;
}

.logo-container {
  @apply flex justify-center mb-6;
}

.logo-image {
  @apply h-20 w-20;
}

.form-group {
  @apply mb-6;
}

.form-label {
  color: #5C0E5D;
  @apply text-sm font-semibold mb-2 block;
}

.input-wrapper {
  background-color: white;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  @apply flex items-center rounded-md px-3 py-2;
}

.input-icon {
  color: #5C0E5D;
  @apply w-5 h-5 mr-2;
}

.form-input {
  @apply bg-transparent border-none outline-none w-full;
  color: black;
}

.login-button {
  background-color: #5C0E5D;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-top: 2.5rem;
  @apply w-full text-white py-2 rounded-md transition duration-300;
}

.login-button:hover {
  background-color: #4a0b4a;
}

.input-wrapper.error-border {
  border-color: #ef4444;
}

.error-message {
  color: #ef4444;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  
.buttonTelaPrincipal{
  background-color: #7a1280;
  color: white;
  padding: 10px 20px;
  border:  1px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.buttonTelaPrincipal:hover{
  background-color: #5C0E5D; 
}